
          /* Draw */


          body{
            /* background-color: white; */
          }

          .concept {
            display: inline-flex;
            /* padding: 64px; */
          }

          .concept img{
            /* max-width: 730px; */
            max-height: 820px;
          }

          #content {
              height: 100%;
              margin: 0 0 0 300px;
              top: 0;
          }


          #img-container {
              margin: -50px -69px;
              padding: 0;
          }

          #img-container .picture_holder {
              float: left;
          }

          .scroll{
            position: fixed;
            top: 90%;
            left: 3%;
            color:black;
          }


        /*                         my other laptop size                       */

        @media only screen and (max-width: 1280px) {

          .concept {
            display: inline-flex;
            /* padding: 64px; */
          }

          .concept img{
            max-width: 1000px;
            height: -webkit-fill-available;
          }

          #img-container .picture_holder {
              float: left;
              margin-right: 36px;
          }

          .ContactDrawing img {
            display: none;
          }
        }

        /*                             my phone                             */

        @media only screen and (max-width: 400px) {
          .concept img{
            /* max-width: 730px; */
            height: -webkit-fill-available;
          }

          .scroll{
            position: fixed;
            top: 81%;
            left: 3%;
            color:black;
          }
         }
